<div class="profileContainer">
    <div class="avatar-container">
      <img src="/assets/avatar.jpg" alt="Avatar" class="avatar">
    </div>
    <h2>{{userData.user.name}} {{userData.user.surname}}</h2>
    <h2>11:15</h2>
    <h3>Martes, 14 of Mayo</h3>

    <div class="button-container">
        <button type="button" class="sosbtn">SOS</button>
        <button type="button" class="callCaregiverBtn">
          <a href="tel:+34618964174">Llamar cuidador</a>
        </button>
        <button type="button" class="addCaregiver" (click)="toggleForm()">Añadir cuidador</button>
    </div>

    <div *ngIf="showForm" class="phoneForm">
      <form>
        <label for="phoneNumber">Número de teléfono:</label>
        <input type="tel" id="phoneNumber" name="phoneNumber" required>
        <button type="submit">Añadir</button>
      </form>
    </div>

    <div class="container">
      <div class="dropdown">
        <button class="btn btn-primary" (click)="toggleDiseasesDropdown()">Enfermedades</button>
        <ul *ngIf="showDiseasesDropdown">
          <li *ngFor="let disease of elderUser1.diseaseList">{{ disease }}</li>
        </ul>
      </div>
      <div class="dropdown">
        <button class="btn btn-primary" (click)="toggleTreatmentsDropdown()">Tratamientos</button>
        <ul *ngIf="showTreatmentsDropdown">
          <li *ngFor="let treatment of elderUser1.treatmentList">{{ treatment }}</li>
        </ul>
      </div>
    </div>
</div>
