/* Styles for body */
.profileContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Styles for headings */
h2 {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 5px 0;
    font-size: 24px;
    color: #333;
}

h3 {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 5px 0;
    font-size: 18px;
    color: #666;
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.avatar-container {
  display: flex;
  justify-content: center;
}

/* Styles for buttons container */
.button-container {
    display: flex;
    justify-content: center;
}

/* Styles for buttons */
button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
}

.sosbtn {
    background-color: #ff0000;
    margin-right: 5px;
    color: #fff;
}

.callCaregiverBtn {
    background-color: #007bff;
    margin-left: 5px;
    color: #fff;
}

.callCaregiverBtn a {
  color: inherit; /* Hereda el color del texto del botón */
  text-decoration: none; /* Quita el subrayado del enlace */
}


/* Styles for lists */
p {
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 5px;
}

ul {
    align-items: center;
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul {
    font-size: 16px;
    margin-bottom: 5px;
    display: block; /* Displaying li elements one above the other */
    align-items: center;
    justify-items: center;
    justify-content: center;
}

li {
    display: flex;
    justify-items: center;
    justify-content: center;
}

.btn-primary {
  background-color: #007bff;
  color: #fff;
  border: none;
  margin: 10px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.dropdown{
  margin: 10px;
}
