<div class="login-container">
  <div class="avatar-container">
    <img src="/assets/avatar.jpg" alt="Avatar" class="avatar">
  </div>
  <div class="form-container">
    <form>
      <div class="form-group">
        <label for="name">Nombre</label>
        <input type="text" id="name" name="name" class="form-control" placeholder="Introduce tu nombre completo" required>
      </div>
      <div class="form-group">
        <label for="username">Usuario</label>
        <input type="text" id="username" name="username" class="form-control" placeholder="Introduce tu usuario" required>
      </div>
      <div class="form-group">
        <label for="email">Correo electrónico</label>
        <input type="email" id="email" name="email" class="form-control" placeholder="Introduce tu correo" required>
      </div>
      <div class="form-group">
        <label for="telephone">Teléfono</label>
        <input type="tel" id="telephone" name="telephone" class="form-control" placeholder="Introduce tu teléfono" required>
      </div>
      <div class="form-group">
        <label for="password">Contraseña</label>
        <input type="password" id="password" name="password" class="form-control" placeholder="Introduce tu contraseña" minlength="6" required>
      </div>
      <div class="form-group">
        <label for="repeatPassword">Repetir contraseña</label>
        <input type="password" id="repeatPassword" name="password" class="form-control" placeholder="Introduce tu contraseña" minlength="6" required>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block">Registrarse</button>
      </div>
    </form>
  </div>
</div>

