<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Reminder Form</title>
</head>
<body>

<div class="pillRememberContainer">
  <div class="avatar-container">
    <img src="/assets/pill.avif" alt="Avatar" class="avatar">
  </div>
  <div class="form-container">
    <form>
      <div class="form-group">
        <span class="input-icon" style="background-image: url('/assets/medicine-icon.png')"></span>
        <input type="text" id="medicine-name" name="medicine-name" class="form-control with-icon" placeholder="MEDICINE NAME" required>
      </div>
      <div class="form-group">
        <span class="input-icon" style="background-image: url('/assets/time-icon.png')"></span>
        <input type="time" id="time" name="time" class="form-control with-icon" placeholder="TIME" required>
      </div>
      <div class="form-group">
        <span class="input-icon" style="background-image: url('/assets/reminder-icon.png')"></span>
        <select class="form-control with-icon" id="reminder" name="reminder" required>
          <option value="1">1 day</option>
          <option value="7">1 week</option>
          <option value="30">1 month</option>
          <option value="60">2 months</option>
        </select>
      </div>
      <div class="form-group">
        <span class="input-icon" style="background-image: url('/assets/duration-icon.png')"></span>
        <div style="display: flex;">
          <input type="text" id="duration-number" name="duration-number" class="form-control" placeholder="Duration" style="flex: 1;" required>
          <select class="form-control" id="duration-unit" name="duration-unit" style="flex: 2;" required>
            <option value="" disabled selected hidden>Select time</option>
            <option value="undefined">Undefined</option>
            <option value="days">Days</option>
            <option value="weeks">Weeks</option>
            <option value="months">Months</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block">SAVE REMINDER</button>
      </div>
    </form>
  </div>
</div>

<!-- En teoría, si se selecciona "undefined" el campo que guarda el valor numérico debería de limpiarse
     pero no lo hace -->
<script>
  document.getElementById("duration-unit").addEventListener("change", function() {
    var durationUnit = this.value;
    var durationNumberInput = document.getElementById("duration-number");

    if (durationUnit === "undefined") {
      durationNumberInput.value = "";
    }
  });
</script>
</body>
</html>
