

.pillRememberContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.form-container {
  width: 300px;
}

.avatar {
  width: 100px;
  height: 100px;
}

.avatar-container {
  margin-bottom: 50px;
}

.form-group {
  position: relative;
  margin-bottom: 20px;
}

.form-control {
  width: 100%;
  padding: 10px 10px 10px 40px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.input-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background-size: contain;
}

.btn-primary {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

.btn-link {
  color: #007bff;
  text-decoration: none;
  cursor: pointer;
}

